*{
    list-style: none;
}

html{
    background-color: #FFC7C2;
    scroll-behavior: smooth;
}

.header{
    margin-bottom: 80px;
}
    
.header-wrap{
    display: flex;
    justify-content: space-between;
max-height: 100px;
align-items: center;
padding-left: 0px;
padding-right: 20px;
line-height: 30%;
}

.header-title{
    font-family: Koulen;
    color: aliceblue;
    background-color: rgb(31, 30, 30);
    font-size: 50px;
    margin-top: 50px;
    margin-left: 30px;
    line-height: 99%;
    padding: 2px 7px 0px 5px;
    transform: rotate(-4deg);
}

.header-title:hover{
    background-color: #69EC3B;
}

.header-list{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header-list-item{
    font-family: Koulen;
    color: rgb(31, 30, 30);
    font-size: 22px;
}

.header-contact{
    font-family: Koulen;
    color: rgb(31, 30, 30);
    font-size: 22px;
}


.landing-main-header{
    font-family: Koulen;
    color: rgb(31, 30, 30);
    font-size: 60px;
}

.landing2{
    display: flex;
    justify-content: center;
}

.landing-main-wrap{
display: flex;
flex-direction: column;
}

.landing-header-wrap{
max-width:100%;
text-align: center;
}

/* change font size! */
.landing-main-header{
    font-family: Koulen;
    font-size: 86px;
    color: rgb(31, 30, 30);
    margin: 1px;
padding: 1px;
line-height: 80%;
}


.landing-main-para{
    font-family: Koulen;
    font-size: 30px;
    color: rgb(31, 30, 30);
 text-align: center;
 margin-top: 80px;
 line-height: 40%;
 padding-bottom: 1px;
    font-weight: 800px;
}

.cat{
    background-image: url(./img/081CF1B1-7758-4CD1-AAA8-4482C2B745C4-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 800px;
    padding-bottom: 857px;
}

.cat-ad{
    font-family: Koulen;
    font-size: 86px;
    color: rgb(31, 30, 30);
line-height: 10%;
padding-top: 480px;
text-align: center;
}

.cat-last{
    font-family: Koulen;
    font-size: 86px;
    color: rgb(31, 30, 30);
    line-height: 100%;
padding-top: 100px;
text-align: center;
    margin-top: 200px;
}

.cat-last-green{
    font-family: Koulen;
    color: aliceblue;
    background-color: rgb(31, 30, 30);
    font-size: 50px;
    margin-top: 50px;
    margin-left: 30px;
    line-height: 10%;
    margin-bottom: 20px;
    padding: 2px 7px 0px 5px;
}

.cases-header{
    font-family: Koulen;
    color: aliceblue;
    font-size: 80px;
    margin-top: 200px;
    margin-left: 80px;
   color: rgb(31, 30, 30);
    margin-bottom: 20px;
    padding: 2px 7px 0px 5px;
}

.cases-item{
    width: 600px;
    margin-bottom: 80px;
}

.cases-columns{
    display: flex;
    justify-content: center;
    margin-left: 80px;
}

.team{
    background-color: rgb(31, 30, 30);
    padding-bottom: 60px;
}

.team-header{
    font-family: Koulen;
    font-size: 86px;
    color: white;
    margin: 1px;
padding: 1px;
line-height: 80%;
padding-top: 100px;
padding-bottom: 30px;
margin-left: 80px;
}

.team-para{
    font-family: Koulen;
    font-size: 28px;
    color: white;
    margin: 1px;
padding: 1px;
line-height: 80%;
margin-left: 80px;
width: 600px;
}

.team-list{
    margin-left: 40px;
    width: 1260px;
    display: flex;
    justify-content: space-between;
margin-top: 80px;
}

.team-list-img{
    width: 220px;
}

.team-list-para{
    font-family: Koulen;
    font-size: 32px;
    color: white;
    margin: 1px;
padding: 1px;
line-height: 80%;
padding-top: 10px;
}



